@tailwind base;

@tailwind components;

@tailwind utilities;

body {
	width: 100%;
	overflow-x: hidden;
}

.card-product .flex {
	flex: 1;
}

.card-product .pro_code {
	flex: 2;
}

.top-bar .field {
	flex: 1;
}

.top-bar .field.code {
	flex: 2;
}

.card-product .var_price {
	flex: 2;
}

/* MODAL BOX */
.modal-wrapper {
	background: rgba(0,0,0,.7);
}
